[submodule "flownet2"]
	path = flownet2
	url = https://github.com/NVIDIA/flownet2-pytorch.git
[submodule "codes/models/flownet2"]
	path = codes/models/flownet2
	url = https://github.com/neonbjb/flownet2-pytorch.git
